body {
  margin: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Encode Sans Expanded", sans-serif;
}
