/* Header.css */

/* Header container */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.nav-link {
  color: black !important; /* White nav link text */
}

.navbar .nav-link:hover {
  color: #0596F2 !important;/* Highlight on hover */
}

/* Logo styles */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: inline-block;
}

.logo-image {
  width: 150px;
  height: auto;
}

/* Navigation styles */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333333;
  margin: 4px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .nav.open {
    display: flex;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-item {
    margin: 10px 0;
  }
  .hamburger {
    display: flex;
  }
}